<div id="home">
    <div id="titles">
        <h1>TINDER for cats</h1>
        <p>Looking for a meow-mate?</p>
    <form action="/cats" class="home-form">
        <input type="submit" value="Let's get started baby!"></input>
    </form>
    </div>     
</div>
