<h1>Introduzca los datos del minino o minina</h1>
<form action="/cats" method="POST">
  <label for="profile-picture">Foto de perfil</label>
  <input type="text" id="profile-picture" name="image">
  <label for="cat-name">Nombre</label>
  <input type="text" id="cat-name" name="name" >
  <label for="cat-age">Edad</label>
  <input type="text" id="cat-age" name="age" >
  <label for="cat-status">¿Está soltero/a?</label>
  <input type="text" id="cat-status" name="isSingle" >
  <button type="submit">Submit</button>
</form>